* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://img.freepik.com/premium-photo/low-angle-view-silhouette-incomplete-buildings-against-clear-sky_1048944-19652648.jpg?size=626&ext=jpg&ga=GA1.1.214113861.1707042216&semt=ais') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: var(--white);
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--box-shadow);
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    height: 45px;
    padding: 0;
}

.header .navbar {
    margin-left: auto;
}

.header .navbar a {
    font-size: 1rem;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}

.header .navbar a:hover {
    text-decoration: underline;
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: inline-block;
    transition: transform 0.5s ease;
}

#menu-btn.fa-times {
    transform: rotate(180deg);
}

.wrapper{
    position: relative;
    width: 320px;
    height: 380px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
h2{
    color: aliceblue;
    font-size: 2em;
    text-align: center;
}

.wrapper .form-box{
    width: 100px;
    padding: 40px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffff;
    margin: 30px 0;
}
/* .input-box input:focus~label,
.input-box input:valid~label{
    top:-5px 
}   */

 label{
    position: absolute;
    top: 50%;
    left: 5px;
     transform: translateY(-50%); 
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    /* transition: .5s; */
    
    
}
input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;   

}

.remembar-forget{
    font-size:.9em;
    color: aliceblue;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
p{
    color: aliceblue;
}

.remembar-forget label input{
    accent-color:#ffff;
    margin-right: 3px;
}

.remembar-forget a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;

}

.remembar-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
    







